/*Main css file for Questioner App */ 

/* Global styles */
body{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
ul{
    margin: 0;
    padding: 0;
}
.button_1{
    height: 38px;
    width: 130px;
    background: #00a388;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    margin-top: 20px;
}
.button_2{
    height: 40px;
    width: 130px;
    background: #ff6138;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
}
.button_4{
    height: 38px;
    width: 130px;
    background: #00a388;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
 
}
.form_1{
    padding: 15px;
    margin-top: 15px;
    width: 40%;
}
.form_2{
    padding: 15px;
    width: 60%;
}
.form_1 input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    height: 25px;
    width: 300px; 
}
.form_1 label{
    margin-bottom: 10px;
}
.form_2 textarea{
    width: 50%;
}
.links{
    color: #ff6138;
    margin-top:10px;
}
.link_n{
    color: #000000;
    margin-top:10px;
}
/*header styles */
header{
    background: #00a388;;
    color: #ffffff;
    min-height: 70px;
    border-bottom: #ff6138 3px solid;

} 
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header #logo{
    float: left;
}
header #logo h1{
    margin: 0;
}
header nav{
    float:right;
    margin-top: 10px;
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold; 
}
header a:hover{
    color: #cccccc;
    font-weight:bold;
}
/*content formatting */
#content{
     min-height: 550px;
}
#content form{
     float: left;
}
#content a{
     text-decoration: none;
     
}
#content li{
    list-style-type: circle;
    margin-top: 20px;
    margin-left: 20px;
 }
#display {
     margin-top: 20px;
     float: left;
     width:55%;
    
}
ul#user-action li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    

}
ul#user-action li a{
    color: #00a388;
} 
#user-action img{
    width: 30px;
    height:30px;
    margin-bottom: -2px;

}
#comments{
    width: 80%;
    float: left;
}
#meetup{
    font-size: 25px;
    border:#00a388 1px solid;
    border-radius: 25px;
    padding: 10px;
}
.paging{
    padding: 5px;
    color: #ff6138;
    border: #000000 1px solid;
}
/* footer styles */
 footer{
     padding:20px;
     margin-top: 20px;
     background-color: #ff6138;
     color: #ffffff;
     font-size: 20px;
     text-align: center;
     
}



